<div class="user_edit_page">
    <!--エラーメッセージ-->
  <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
  <% end %>
    
  <h2>ユーザ編集</h2>
      
  <!--<div class="row">-->
  <!--  <div class="col-sm-6 offset-sm-3">-->
  
        
  <div class="form_all">
      <%= form_with(model: @user, local: true) do |f| %>
      
        <div>
          <%= f.file_field :avatar %><br>
        </div>
          
        <div class="form_block">
          <%= f.label :name, "Name" %><br>
          <%= f.text_field :name, class: "form", placeholder: "お名前" %>
        </div>
        
        <div class="form_block">
          <%= f.label :introduction, "Introduction" %><br>
          <%= f.text_area :introduction, size: "70x10" %>
        </div>
  
        <div class="form_block">
          <%= f.label :email, "Email" %><br>
          <%= f.email_field :email, class: "form", placeholder: "Email"  %>
        </div>
  
        <div class="form_block">
          <%= f.label :password, "Password" %><br>
          <%= f.password_field :password, class: "form"  %>
        </div>
  
        <div class="form_block">
          <%= f.label :password_confirmation, "Password_confirmation" %><br>
          <%= f.password_field :password_confirmation, class: "form" %>
        </div>
  
        <%= f.submit 'SAVE', class: 'btn btn-primary' %>
      
    <% end %>
  </div>    
</div>
