<div class="user">
    <div class="user_show">
        <div class="user_info">
            <div class="user_info_left">   
            <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar.variant(combine_options:{gravity: :center, resize:"200x200^", crop:"200x200+0+0"}).processed, class: "user_icon" %>
            <% else %>
                <%= image_tag("default-image.png", :size => "170x170") %>
            <% end %> 
            </div>
            
            <div class="user_info_right">
              <div class="user_name_edit">
                <h1><%= @user.name %></h1>
               <% if @user == current_user %>
                 <div class="user_edit">
                  <%= link_to "プロフィール編集", "/users/#{@user.id}/edit", class: 'btn btn-default' %>
                  </div>
               <% else %>
                 <dvi></dvi>
               <% end %>
       
              </div>
                <p><%= @user.introduction %></p>
              <div class="relationships_btn">    
                    <%= @count_followings %>
                    <%= @count_followers %>
                    <%= @count_likes %>
                    
                    <div class="relationships_btn_all">
                        <div>
                            <a href="<%= followings_user_path(@user) %>">フォロー中</a>
                        </div>
                        <div>
                            <a href="<%= followings_user_path(@user) %>"><%= @count_followings %></a>
                        </div>
                    </div>
                    
                    <div class="relationships_btn_all">
                        <div>
                            <a href="<%= followers_user_path(@user) %>">フォロワー</a>
                        </div>
                        <div>
                            <a href="<%= followers_user_path(@user) %>"><%= @count_followers %></a>
                        </div>
                    </div>
                    
                    <div class="relationships_btn_all">
                        <div>
                            <a href="<%= likes_user_path(@user) %>">♡</a>
                        </div>
                        <div>
                            <a href="<%= likes_user_path(@user) %>"><%= @count_likes %></a>
                        </div>
                    </div>
              </div>    
            </div>  
        </div>
                 
        
    </div>   
    
    <% if @user == current_user %>
        <div class="btn_all">
            <div class="post_btn">
            <%= link_to "Share!", "/posts/new", class: 'btn' %>
            </div>
        </div> 
    <% else %>
        <div class="btn_all">
            <div class="follow_btn">
                <%= render 'relationships/follow_button', user: @user, class: 'btn' %>    
            </div>
        </div>    
    <% end %>
    
    <div class="user_post">
        <%= render "posts/posts", posts:@posts %>
    </div>
    
</div>    